@import '~styles/colors';
@import '~styles/layouts';
@import '~styles/responsive';
@import '~styles/fonts';
@import '~styles/animations';

p,
.paragraph {
  margin: 0;
  padding: 0;
}

p + p,
.paragraph + .paragraph {
  padding-top: 4rem;
}

strong {
  @extend .strong;
}

.NewProduct {
  @extend .Center;

  // TODO add fireworks https://jsfiddle.net/elin/7m3bL/

  .icon {
    padding-top: 4rem;
    // svg {
    //   fill: $secondary;
    //   width: 20rem;
    //   cursor: pointer;
    //   transition: linear 1s fill;

    //   max-width: 50vw;

    //   &:hover {
    //     fill: $ternary;
    //   }
    // }
  }
}

.Reasons {
  @extend .Center;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    @include only(xs) {
      flex-wrap: wrap;
    }

    .reason {
      flex: 1 1 auto;
      text-align: center;
    }

    .icon {
      flex: 1 1 auto;
      padding: 0 2rem;
      text-align: center;

      font-size: 2rem;

      color: $secondary;

      font-size: 10rem;
      line-height: 10.5rem;

      @include only(sm) {
        font-size: 15rem;
        line-height: 16.5rem;
      }
    }
  }
}

.AdvancedInteractions,
.Standout {
  min-height: 20vh;
  padding-top: 10rem;
  padding-bottom: 10rem;
  .icon {
    width: 100%;
    max-width: 22rem;
  }
}

.Technologies {
  @extend .Center;

  .content {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin: auto;
    max-width: none;

    .left,
    .right {
      @include only(sm) {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      padding-bottom: 2rem;
    }

    .left {
      text-align: center;
      @include only(md) {
        text-align: left;
      }

      @include only(lg) {
        justify-content: flex-end;
        padding-right: 10rem;
      }
    }

    .right {
      @include only(lg) {
        justify-content: flex-start;
        padding-left: 10rem;
      }
    }

    .centerLeft,
    .centerRight {
      width: 80%;

      @include only(xs) {
        margin: auto;
      }

      @include only(lg) {
        width: 50%;
      }
    }
  }
}

.Benefits {
  @extend .Center;
  text-align: left;

  .content {
    @include only(lg) {
      margin: auto;
      max-width: 1000px;
    }
  }

  .Benefit {
    padding-bottom: 1rem;
    @extend .normal;

    .conclusion {
      padding-left: 1.5rem;
      &::before {
        display: inline-block;
        content: '→';
        color: white;
        padding-right: 0.5rem;
      }
    }
  }
}

.Challenges {
  @extend .Center;
}

.Mission {
  @extend .Center;
  text-align: center;
  background-color: $secondary;
  min-height: 70vh;

  .content {
    @include only(lg) {
      margin: auto;
      max-width: 1000px;
    }

    .before,
    .top,
    .bottom {
      color: $background;

      font-size: 1.4rem;
      line-height: 1.7rem;

      @include only(sm) {
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
    }

    .middle {
      color: $primary;

      font-size: 2rem;
      line-height: 2.5rem;

      @include only(sm) {
        font-size: 5rem;
        line-height: 9.5rem;
      }
    }

    .before {
      @include only(lg) {
        max-width: 30vw;
        margin: auto;
        margin-bottom: 10rem;
      }

      margin-bottom: 10rem;
    }
  }
}

.Contact {
  @extend .Center;
  text-align: center;
  min-height: 80vh;

  @include only(lg) {
    text-align: left;
  }

  .title {
    text-align: center;
    @extend .normal;

    font-size: 2rem;
    line-height: 2.5rem;

    @include only(sm) {
      font-size: 4rem;
      line-height: 5rem;
    }
  }

  .help {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;

    @include only(sm) {
      font-size: 1.7rem;
      line-height: 2rem;
    }
  }

  .link {
    @extend .strong;
  }

  .feedback {
    font-size: 1rem;
  }

  .socials {
    padding: 4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: $ternary;
    margin: 0 2rem;

    transition: color 0.3s linear;

    &:hover {
      color: $secondary;
    }

    .icon {
      width: 3rem;
    }

    .label {
      @extend .normal;

      font-size: 0.8rem;
      line-height: 1rem;

      @include only(sm) {
        font-size: 1rem;
        line-height: 1.3rem;
      }

      color: currentColor;
    }
  }
}

.footer {
  @extend .normal;
  color: $secondary;
  font-size: 1rem;
  text-align: center;

  a {
    color: $secondary;
  }
}
