@import '~styles/responsive';
@import '~styles/fonts';

.Section {
  @extend .normal;
  padding-bottom: 15rem;
  padding-top: 15rem;

  position: relative;

  // scroll-snap-align: start;
  // scroll-snap-stop: normal;

  min-height: 50vh;
}
