@import '~styles/responsive';
@import '~styles/fonts';

.Section {
  @extend .normal;
  position: relative;

  min-height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $padding;

  text-align: center;

  &.short {
    min-height: 0;
    height: auto;
  }
}
